<!DOCTYPE html>
<html lang="en">
  <head>
    {{>header}}
    <title>Sell Your Stuff</title>
  </head>
  <body>
    <h1>Login</h1>
    <div class="container">
      {{>menu}}
      <form>
        <div class="mb-3">
          <label for="exampleInputUsername" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="exampleInputUsername"
            aria-describedby="usernameHelp"
            placeholder="Username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
  {{>footer}}
</html>
