<html>
  <head>
    {{> header}}
  </head>

  <body>
    <div class="container">
      <h1>Login</h1>
      {{> menu}}
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputusername" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        {{#message}}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {{/message}}
      </form>
    </div>
    {{> footer}}
  </body>
</html>
